<div class="dsct-wbs-content">

  <div class="dsct-ints-table-scroll">
    <table class="dsct-wbs-table">
      <thead>
        <tr>
          <th class="dsct-table-th" title="{{localize "DSCT.settings.int.colIconTitle"}}">{{localize "DSCT.settings.int.colIcon"}}</th>
          <th class="dsct-table-th">{{localize "DSCT.settings.int.colName"}}</th>
          <th class="dsct-table-th" title="{{localize "DSCT.settings.int.colEmojiTitle"}}">{{localize "DSCT.settings.int.colEmoji"}}</th>
          <th class="dsct-table-th"></th>
        </tr>
      </thead>
      <tbody id="dsct-int-animal-tbody">{{{rowsHTML}}}</tbody>
    </table>
  </div>

  <div class="dsct-wbs-footer">
    <button type="button" id="dsct-int-add-btn"><i class="fa-solid fa-plus"></i> {{localize "DSCT.settings.int.addAnimal"}}</button>
    <button type="button" id="dsct-int-reset-btn"><i class="fa-solid fa-rotate-left"></i> {{localize "DSCT.settings.int.resetDefaults"}}</button>
    <button type="button" id="dsct-int-save-btn" class="dsct-wbs-save-btn"><i class="fa-solid fa-floppy-disk"></i> {{localize "DSCT.settings.int.saveChanges"}}</button>
  </div>

</div>
